# sbt
**/bin/
**/project/
**/target/
**/build/
**/null/

# intellij idea
**/*.log
**/*.iml
**/*.ipr
**/*.iws
**/.idea


# other?
**/.history
**/.scala_dependencies
**/.cache
**/.cache-main
**/.scalafix.conf

#general
**/*.class
